$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$black: #000;
$darkred: #740001;

.box {
  align-items: center;
  background-color: $darkred;
  border: 5px solid $black;
  display: flex;
  font-size: 80px;
  height: 200px;
  justify-content: center;
}
