$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$black: #000;
$darkred: #740001;
$brown: #cc7c2c;

body {
  background-color: $brown;
  padding: 20px;
}

h1 {
  font-family: fantasy;
  font-size: 40px;
  padding: 15px;
  text-align: center;
}

.box {
  align-items: center;
  background-color: $darkred;
  border: 5px solid $black;
  display: flex;
  font-size: 80px;
  height: 200px;
  justify-content: center;
}

.container {
  border: 8px solid $black;
  height: 60%;
  width: 50%;
}

.story {
  font-size: 20px;
  padding: 20px 120px;
  text-align: center;
}

// .sign-in {
//   clear: right;
// }
//
// .sign-up {
//   float: left;
// }
